@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Montserrat font */

/* header-section */
*{
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
    max-width: 1920px;
}

.heading-section{
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 870px;
}
.heading-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading-section .group-image{
    margin: 35px 0 43px 0;
}

.heading-section .heading-line{
    font-size: 64px;
    text-align: center;
    margin-bottom: 32px;
    font-weight: 800;
}

.heading-section .paragraph-01{
    font-size: 21px;
    font-weight: 530;
    text-align: center;
    margin-bottom: 60px;
    color: rgb(13, 19, 33);
    opacity: 0.7;

}

.heading-section .btn{
    width: 278px;
    height: 88px;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 28px 32px 28px 32px;
    border: none;
    text-decoration: none;
}

/* developement content */


main{
    max-width: 1520px;
    height: 1860px;
    margin: 0 auto;
    border-radius: 21px;
    background: rgba(13, 19, 33, 0.02);
    margin-top: 98px;
    margin-bottom: 98px;
}

.development-section{
    padding: 107px 130px;
}
.development-section .section-title{
    text-align: center;
    font-size: 43px;
    margin-bottom: 32px;
}

.development-section .title-section{
    padding: 0px 48px 48px 48px;
}

.development-section .section-paragraph{
    text-align: center;
    font-size: 21px;
    font-weight: 530;
    color: rgb(13, 19, 33);
    opacity: 0.7;
    margin-bottom: 64px;
}

.box-content-1{
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 64px;
    background-color: white;
    margin-top: 43px;
    border-radius: 21px;
}

.development-section .box-content-1 .title{
    font-size: 32px;
    margin-bottom: 21px;
}

.development-section .box-content-1 .description{
    font-size: 21px;
    font-weight: 530;
    margin-bottom: 43px;
    color: rgb(13, 19, 33);
    opacity: 0.7;

}

.development-section .box-btn{
    width: 250px;
    height: 64px;
    font-size: 27px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    text-decoration: none;
}

.development-section .box-content-1 .box-image01{
    margin-left: 95px;
}

.development-section .box-content-1 .box-image02{
    margin-right: 95px;
}

.insp-section{
    max-width: 1140px;
    margin: 0 auto;
}

.insp-section .insp-title{
    text-align: center;
    font-size: 48px;
    margin-bottom: 24px;
}

.insp-section .insp-description{
    font-size: 21px;
    font-weight: 530;
    text-align: center;
    color: rgb(13, 19, 33);
    opacity: 0.7;

}

.iframe-content{
    width: 1520px;
    height: 820px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 48px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    margin-top: 48px;
}

.target-section{
    margin: 0 auto;
    max-width: 1520px;
    margin-top: 150px;
}

.target-section .target-head{
    max-width: 1135px;
    margin: 0 auto;
}

.target-section .target-title{
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 24px;
}

.target-section .target-description{
    font-size: 21px;
    font-weight: 530;
    text-align: center;
    margin-bottom: 48px;
    color: rgb(13, 19, 33);
    opacity: 0.7;

}

.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    margin-bottom: 45px;
}

.card-container .card{
    width: 485px;
    height: 300px;
    padding: 53px;
    border-radius: 16px;
}

.card-container .card-title{
    font-size: 32px;
    margin-bottom: 32px;
}

.card-container .card-description{
    margin-bottom: 32px;
    font-weight: 530;
    color: rgb(13, 19, 33);
    opacity: 0.7;

}

.card-container .card-footer{
    font-size: 21px;
}
.card-image{
    width: 53px;
    height: 60px;
    margin-bottom: 32px;
}
.color-1{
    background-color: rgba(255, 76, 30, 0.05);
}

.color-2{
    background-color: rgba(0, 76, 232, 0.05);
}

.color-3{
    background-color: rgba(255, 223, 0, 0.05);
}

.support-section{
    border-radius: 16px;
    background-image: url(assets/handshake.jpg);

/* I am trying many time to give the shadow on the image but this don't take the shadow. Also for this problem I revision previous class related of this. but i don't find any solution. when i give the shadow with liner gradient the image going out.*/

    background-size: cover;
    width: 1520px;
    height: 420px;
    margin: 0 auto;
    padding: 85px 64px;
    border-radius: 21px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 79px;
}

.support-section .support-title{
    font-size: 43px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-bottom: 21px;
}

.support-section .support-subtitle{
    font-size: 21px;
    font-weight: 530;
    color: rgb(255, 255, 255);
    opacity: 0.7;
    text-align: center;
    margin-bottom: 52px;
    color: white
    opacity 0.7;

}

.support-section .comment-section{
    width: 600px;
    height: 50px;
    border-radius: 10px;
    padding: 25px 26px;
    font-size: 21px;
    font-weight: 530;
    justify-content: center;
    border: none;
}

.submit-button{
    width: 160px;
    height: 100px;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 800;
    margin: o auto;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

.footer-section{
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
    max-width: 1920px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 42px 200px;
}

.footer-section .footer-heading{
    font-size: 26px;
    font-weight: 800px;
}